html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(method="post" action="/user/update/"+user.id)
            label FirstName: 
            input(name = "first" value =`${user.first}` placeholder="firstname")
            label LastName: 
            input(name = "last" value =`${user.last}` placeholder="lastname")
            label Email: 
            input(name = "email" value =`${user.email}` placeholder="Email Address")
            label Age: 
            input(name = "age" value =`${user.age}` placeholder="Age")
            input(type="submit")