html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(method="post" action="/user/search")
            label="First Name: "
            input(name="first" placeholder="First Name")
            label="Last Name: "
            input(name="last" placeholder="Last Name:")
            input(type="submit")